<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage/ホーム</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <p><img src="../img/groceries.png" alt=""></p>
        <header>
            <div class="navbar">
            <a href="./homepage.html"><h1>ホーム</h1></a>
            <a href="./product-list.html"><h1>商品一覧</h1></a>
            <a href="./barcode-input.html"><h1>バーコードインプット</h1></a>
            </div>
        </header>
    </nav>
</body>
</html>