#detail{
    padding: 50px;
    .vegan{
        box-shadow: 0 0 0 2px #63cb5c, 8px 8px 0 0 #63cb5c;
    }
    .non-vegan{
        box-shadow: 0 0 0 2px rgba(218,102,123,1), 8px 8px 0 0 rgba(218,102,123,1);
    }
    #detail-content{
        width: 80%;
        margin: 0 auto;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10vh;
        border-radius: 5px;
        #detail-image{
            img{
                width: 500px;
            }
        }
        #detail-description{
            margin: 0 auto;
            text-align: left;
            line-height: 1.6;
            h1{
                font-size: 2em;
            }
            h2{
                font-size: 1.2em;
            }
        }
    }
}