@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
#homepage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/homepage-background.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    #homepage-content {
        color: white;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        #content1 {
            h1 {
                font-size: 6em;
                letter-spacing: -.05em;
            }

            h2 {
                margin-top: 10px;
                font-size: 2em;
            }

            h3 {
                margin-top: 30px;
                font-size: 2em;
                font-weight: normal;
                font-style: italic;
            }
        }

        #content2 {
            display: flex;
            a {
                background-color: rgba(0, 0, 0, .2);
                border: 0.5px solid rgb(159, 158, 158);
                padding: 12px;
                width: 200px;
                border-radius: 5px;
                text-align: center;
                letter-spacing: 1.5px;
                font-weight: 1000;
                margin: 10px;
                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}

#homepage2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: white;
    width: 80%;
    margin: 0 auto;

    #homepage-content2 {
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        background-image: url(../image/homepage-background.jpg);
        background-size: cover;
        border: solid 1px rgb(176, 215, 36);
        border-radius: 10px;
        padding: 100px;
        width: 60%;

        h1 {
            color: white;
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 4em;
            letter-spacing: -.1em;
        }
    }

    #homepage-content3 {
        width: 30%;
        text-align: center;
        word-wrap: inherit;
        height: 40%;
        margin-left: 30px;

        h1 {
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: rgb(237, 237, 83);  
            font-size: 3em;
            margin-bottom: 20px;
        }

        h2 {
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
        }
    }
}
