body{
    nav{
        height: 70px;
        border-bottom: 1px solid black;
        header{
            .navbar{
                display: flex;
                a{
                    margin-top: 25px;
                    h1{
                        font-size: 1.2em;
                        font-weight: bold;
                        font-family: sans-serif;
                }
            }
        }
        }   
        p{
            margin-left: 50px;
            img{
                width: 65px;
            }
        }
        display: flex;
    }
}