/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.min.css */
*, ::before, ::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

main {
  display: block;
}

p, table, blockquote, address, pre, iframe, form, figure, dl {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg, img, embed, object, iframe {
  vertical-align: bottom;
}

button, input, optgroup, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

button, [type=button], [type=reset], [type=submit] {
  cursor: pointer;
}

button:disabled, [type=button]:disabled, [type=reset]:disabled, [type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=number] {
  -moz-appearance: textfield;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-color: inherit;
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td, th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: 700;
}

nav {
  position: fixed;
  height: 10vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1em;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 20px;
  font-weight: 700;
  font-family: "Gill Sans Extrabold", sans-serif;
  letter-spacing: 0.1em;
}

nav img {
  width: 40px;
}

#underline:hover {
  color: rgb(100, 183, 100);
}

#homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/homepage-background.jpg);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#homepage #homepage-content {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#homepage #homepage-content #content1 h1 {
  font-size: 6em;
  letter-spacing: -0.05em;
}
#homepage #homepage-content #content1 h2 {
  margin-top: -15px;
  text-align: center;
  font-size: 2em;
}
#homepage #homepage-content #content1 h3 {
  margin-top: 30px;
  font-size: 2em;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}
#homepage #homepage-content #content2 {
  display: flex;
  justify-content: space-between;
  transform: translateY(100px);
}
#homepage #homepage-content #content2 a {
  background-color: rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgb(159, 158, 158);
  padding: 12px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 1.5px;
  font-weight: 1000;
}
#homepage #homepage-content #content2 a:hover {
  opacity: 0.7;
}

#homepage2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: white;
  width: 80%;
  margin: 0 auto;
}
#homepage2 #homepage-content2 {
  background-image: url(../image/homepage-background.jpg);
  background-size: cover;
  border: solid 1px rgb(176, 215, 36);
  border-radius: 10px;
  padding: 100px;
  width: 60%;
}
#homepage2 #homepage-content2 h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 4em;
  letter-spacing: -0.1em;
}
#homepage2 #homepage-content3 {
  width: 30%;
  text-align: center;
  word-wrap: inherit;
  height: 40%;
  margin-left: 30px;
}
#homepage2 #homepage-content3 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(237, 237, 83);
  font-size: 3em;
  margin-bottom: 20px;
}
#homepage2 #homepage-content3 h2 {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #008375;
  color: white;
  text-align: center;
  padding: 20px;
}
footer #footer-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 25px 0px 25px;
}
footer .footer-section1 img {
  margin-left: -85px;
  width: 125px;
}
footer .footer-section1 h4 {
  margin-bottom: 10px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  margin-bottom: 8px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer .social-links img {
  width: 40px;
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 10vh;
  background-color: #008375;
}

#navbarspace {
  height: 10vh;
}

#product-list {
  width: 80%;
  margin: 0 auto;
}
#product-list h1 {
  font-size: 1.5em;
}
#product-list #filter {
  margin-top: 15px;
}
#product-list #filter .filtering label {
  margin-right: 15px;
}
#product-list #filter .filtering input {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}
#product-list #filter .filtering input[type=submit] {
  padding: 5px;
  border: solid black 2px;
  border-radius: 10px;
}
#product-list #filter .filtering input[type=submit]:hover {
  color: white;
  background-color: #46ea74;
}
#product-list #products {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border-bottom: 1px;
  padding: 50px;
}
#product-list #products #product {
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  margin: 10px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#product-list #products #product img {
  width: 300px;
}
#product-list #products #product h1 {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
#product-list #products #product h2 {
  display: none;
}

#barcode-page {
  padding: 20px;
  height: 100vh;
}
#barcode-page #barcode-content {
  text-align: center;
  padding: 100px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid rgb(184, 180, 180);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#barcode-page #barcode-content h1 {
  font-size: 1.2em;
}
#barcode-page #barcode-content h2 {
  font-size: 1.5em;
  font-weight: bolder;
}
#barcode-page #barcode-content .barcode img {
  height: 300px;
}
#barcode-page #barcode-content .search {
  display: flex;
  justify-content: center;
}
#barcode-page #barcode-content .search #text_input {
  border: 1px solid black;
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  margin-bottom: 10px;
}
#barcode-page #barcode-content .search #searchimg {
  width: 50px;
}

#detail {
  padding: 50px;
}
#detail .vegan {
  box-shadow: 0 0 0 2px #63cb5c, 8px 8px 0 0 #63cb5c;
}
#detail .non-vegan {
  box-shadow: 0 0 0 2px rgb(218, 102, 123), 8px 8px 0 0 rgb(218, 102, 123);
}
#detail #detail-content {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10vh;
  border-radius: 5px;
}
#detail #detail-content #detail-image img {
  width: 500px;
}
#detail #detail-content #detail-description {
  margin: 0 auto;
  text-align: left;
  line-height: 1.6;
}
#detail #detail-content #detail-description h1 {
  font-size: 2em;
}
#detail #detail-content #detail-description h2 {
  font-size: 1.2em;
}/*# sourceMappingURL=style.css.map */