{% extends 'base.html' %}
{% block title %}バーコード番号入力{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block main %}
<div id="navbarspace"></div>
<div id="barcode-page">
    <div id="barcode-content">
        <div class="barcode">
            <p><img src="../static/image/barcode.png" alt="" id="sample_img2"></p>
        </div>
        <div class="search">
            <form action="/input" method="post">
                <input type="text" id="text_input" name="user_text" placeholder="{{ error_message }}" value="{{ user_text }}">
                <input type="image" src="../static/image/search.png" value="Submit" id="searchimg">
            </form>
        </div>
        <h2>バーコード番号を入力してください</h2>
    </div>
</div>
<!-- 2094205200516   2308655955330  4986858243683 -->
{% endblock %}
