<!DOCTYPE html>
<html lang="ja">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <title>{% block title %}title{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a><img src="../static/image/logo.png" alt=""></a></li>
            <li><a id="underline" href="/homepage">ホーム</a></li>
            <li><a id="underline" href="/list">商品一覧</a></li>
            <li><a id="underline" href="#">Vegiconについて</a></li>
            <li><a id="underline" href="/barcode">バーコード入力</a></li>
            <div id="Language-Button">
                <form id="Language" method="POST" action="/home-la">
                    <select id="language-select" name="language" onchange="this.form.submit()">
                        <option value="">言語</option>
                        <option value="jp">日本語</option>
                        <option value="en">English</option>
                    </select>   
                </form>
            </div>
        </ul>
    </nav>
        {% block main %}

        {% endblock %}
        <footer>
            <div id="footer-content">
                <div class="footer-section1">
                    <img src="../static/image/logo.png" alt="">
                </div>
                <div class="footer-section2">
                    <ul>
                        <li><a href="#">顧客サービス</a></li>
                        <li><a href="#">お問い合わせ</a></li>
                        <li><a href="#">Vegiconについて</a></li>
                    </ul>
                </div>
                <div class="footer-section3">
                    <ul class="social-links">
                        <li><a href="#"><img src="../static/image/facebook.png" alt="Facebook"></a></li>
                        <li><a href="#"><img src="../static/image/X-Logo.png" alt="Twitter"></a></li>
                        <li><a href="#"><img src="../static/image/Instagram.svg.webp" alt="Instagram"></a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                &copy; 2024 Your E-commerce. All rights reserved.
            </div>
        </footer>
        <script src="../static/js/jquery-3.6.0.min.js"></script>
        <script src="../static/js/script.js"></script>
</body>
</html>