{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block main %}
    <div id="navbarspace"></div>
    <div id="detail">
        <div id="detail-image">
            <img src="../static/image/{{ result.filename }}" alt="">
        </div>
        <div id="detail-content">
            <h1>{{result.sname}}</h1>
            <h2>{{result.category}}</h2>
            <h3>{{result.vegan}}</h3>
            <h4>{{result.store}}</h4>
            <p>{{result.ingredient}}</p>
        </div>
    </div>
{% endblock %}