{% extends 'base-en.html' %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block main %}
    <div id="homepage">
        <div id="homepage-content">
            <div id="content1">
                <h1>VEGICON</h1>
                <h2>Live the Vegan Life Anywhere！</h2>
                <h3></h3>
            </div>
            <div id="content2">
                <a href="#">About Vegicon</a>
                <a href="/barcode-en">Barcode Input</a>
            </div>
        </div>
    </div>
    <div id="homepage2">
        <div id="homepage-content2">
            <h1>VEGANISM</h1>
        </div>
        <div id="homepage-content3">
            <h1>Vegicon</h1>
            <h2>Remove All Doubts With Vegicon!</h2>
        </div>
    </div>
{% endblock %}