{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block main %}
    <div id="homepage">
        <div id="homepage-content">
            <div id="content1">
                <h1>VEGANISM</h1>
                <h2>____</h2>
                <h3>with .....</h3>
            </div>
            <div id="content2">
                <a href="#">ABOUT US</a>
                <a href="barcode-input.html">BARCODE INPUT</a>
            </div>
        </div>
    </div>


    
    <div id="homepage2">
        <div id="homepage-content2">
            <h1>VEGANISM</h1>
        </div>
        <div id="homepage-content3">
            <h1>App Name</h1>
            <h2>Is it vegan? Remove all doubts with ..... bofasdasdasdadsa </h2>
        </div>
    </div>
{% endblock %}