{% extends 'base.html' %}
{% block title %}商品一覧{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block main %}
    <div id="navbarspace"></div>
    <div id="product-list">
        <h1>商品一覧</h1>
        <div id="filter">
            <form action="{{ url_for('run_query') }}" method="post" class="filtering">
                <div>
                <input type="radio" name="store" value="lawson" id="lawson" {% if selected_store == 'lawson' %}checked{% endif %}>
                <label for="lawson">LAWSON</label>
                <input type="radio" name="store" value="sevel" id="sevel" {% if selected_store == 'sevel' %}checked{% endif %}>
                <label for="sevel">7-ELEVEN</label>
                <input type="radio" name="store" value="famima" id="famima" {% if selected_store == 'famima' %}checked{% endif %}>
                <label for="famima">Family Mart</label> 
                </div>
                <br>
                <input type="radio" name="category" value="vegan" id="vegan" {% if selected_category == 'vegan' %}checked{% endif %}>
                <label for="vegan">Vegan</label>
                <input type="radio" name="category" value="non-vegan" id="non-vegan" {% if selected_category == 'non-vegan' %}checked{% endif %}>
                <label for="non-vegan">Non-Vegan</label>
                <input type="submit" value="FILTER">
            </form>
        </div>
        <div id="products">
            {% for product in result %}
                <div id="product">
                    <a href="/detail/{{ product.scode }}" method="GET" target="_blank">
                        <img src="../static/image/{{ product.filename }}" alt="">
                        <h1>{{ product.sname }}</h1>
                        <p>{{ product.store }}</p>
                        <h2>{{ product.scode }}</h2>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}