{% extends 'base.html' %}
{% block title %}商品一覧{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block main %}
    <div id="navbarspace"></div>
    <div id="product-list">
        <h1>商品一覧</h1>
        <form id="filter" action="/list" method="GET">
            <select name="store" id="store" onchange="submitForm()">
                <option value="" {% if not store_filter %}selected{% endif %}>All Stores</option>
                <option value="LAWSON" {% if store_filter == 'LAWSON' %}selected{% endif %}>LAWSON</option>
                <option value="seven-eleven" {% if store_filter == 'seven-eleven' %}selected{% endif %}>seven-eleven</option>
                <option value="FamilyMart" {% if store_filter == 'FamilyMart' %}selected{% endif %}>FamilyMart</option>
            </select>   
            <select name="vegan" id="vegan" onchange="submitForm()">
                <option value="">All</option>
                <option value="vegan" {% if vegan_filter == 'vegan' %}selected{% endif %}>Vegan</option>
                <option value="non-vegan" {% if vegan_filter == 'non-vegan' %}selected{% endif %}>Non-Vegan</option>
            </select>
        <div id="products">
            {% for product in result %}
                <div id="product">
                    <a href="/detail/{{ product.scode }}" method="GET" target="_blank">
                        <img src="../static/image/{{ product.filename }}" alt="">
                        <h1>{{ product.sname }}</h1>
                        <p>{{ product.store }}</p>
                        <h2>{{ product.scode }}</h2>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}